<!DOCTYPE html>

<html>
  <head>
    <title>Task Scheduler</title>
  </head>
  <body>
    <div class="top-menu">
      <div class="logo-text-container">
        <div class="logo-text">Task Scheduler</div>
      </div>
      <div class="left-section">
        <ul>
          <li>
            <a href="/" class="nav-link" id="tasks-link">Tasks</a>
          </li>
          <li>
            <a href="/add-task" class="nav-link" id="add-task-link">Add Task</a>
          </li>
          <li>
            <a href="/edit-categories" class="nav-link" id="edit-categories">Edit Categories</a>
          </li>
          <li>
            <a href="/admin" class="nav-link" id="admin">Admin</a>
          </li>
        </ul>
      </div>
      <div class="userSection">
        {{#if loggedInUserFullName}}
          <div class="navUser">
            <div class="navLink" id="loggedInUserFullName">{{loggedInUserFullName}}  <i class="navUserDropdown fa fa-caret-down" id="navUserDropdown"></i></div>
              <div class="navUserDropdownContent hidden" id="navUserDropdownContent">
              <ul>
                <li><a href="/profile" class="navLink">Profile</a></li>
                <li><a href="/logout" class="navLink">Logout</a></li>
              </ul>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
    {{{body}}}
    <script type="javascript" src="main.js"></script>
  </body>
</html>