body {
  background-color:  #c8c3cc;
}

h1 {
margin-top: 32px;
text-align: center;
}

h3 {
text-align: center;
}

.pull-right {
float: right;
margin-right: 0;
}

.pull-left {
float : left;
margin-left: 0;
}

.error {
color: red;
}

.nav-link {
  display: block;
  text-align: center;
  padding: 6px 6px;
  text-decoration: none;
  /*color: #666;*/
  color: #ffffff
}

/* highlight the navs on hover*/
.nav-link:hover {
  /*background-color: black;*/
  background-color: #0000ff;
  color: #ffffff;
  cursor: pointer;
}

.hidden {
  display: none
}

.show {
  display: block;
}

.show-inline {
  display:inline-block;
}

.active-page-link {
  background-color: #4caf50;
  color: #ffffff;
}

/* stop the active page link from
 * changing color on hover
 */
.active-page-link:hover {
  background-color: #4caf50;
  color: #ffffff;
}

.top-menu {
  z-index: 1;
  height: 32px;
  width: 100%;
  background-color: #252525;
  /*background-color: #e0e2e4;*/
  position: fixed;
  top: 0;
  left: 0;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: gray;
}

.logo-text-container {
  height: 32px;
  display: inline-block;
  vertical-align: top;
}

.logo-text {
  /*color: #666;*/
  color: #ffffff;
  margin-top: 6px;
}

.left-section {
  height: 32px;
  display: inline-block;
  vertical-align: top;
}

.right-section, .user-section {
  height: 32px;
  vertical-align: top;
  float: right;
}

.left-section ul, .right-section ul, 
  .user-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #e0e2e4;*/
  background-color: #252525;
}

.left-section li, .right-section li {
  float: left;
}

.user-section li {
  width: 100%;
}

.user-section ul {
  padding-left: 0;
}

.person-menu {
  top: 32px;
  left: 0;
  width: 78px;
  height: 100%;
  position: fixed;
  overflow: auto;
  /*background-color: #e0e2e4;*/
  background-color: #252525;
  /*
  border-right-style: solid;
  border-right-width: thin;
  border-right-color: gray;
  */
}

.person-menu ul {
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.person-menu li {
  color: #ffffff;
  /*color: #666;*/
  text-decoration: none;
  list-style-type: none;
  font-size: 12px;
  overflow: hidden;
  text-align: center;
}

.profile-pic-lg {
  height: 60px;
  width: 60px;
  border-style: solid;
}

.profile-pic-sm {
  height: 20px;
  width: 20px;
}

.profile-pic-lg:hover {
  cursor: pointer;
  border-color: green;
  color: green;
}

.filters { 
  z-index: 0;
  position: fixed;
  width: 100%;
  top: 34px;
  left: 78px;
  height: 18px;
  background-color: #e0e2e4;
  padding-left: 5px;
}

.content {
  padding-left: 75px;
  margin-top: 52px;
}

.three-column {
  width: 33.33%;
}

.four-column {
  width: 25%;
}

.five-column {
  width: 20%;
}

.three-column, .four-column,
  .five-column {
    float: left;
    vertical-align: top;
}

.not-started-header {
  background-color: #252525;
  /*background-color: #bd4f4f;*/
}

.in-progress-header {
  background-color: #252525;
  /*background-color: #5f85be;*/
}

.paused-header {
  background-color: #252525;
  /*background-color: #9c0202;*/
}

.completed-header {
  background-color: #252525;
  /*background-color: #00c32b;*/
}

.deleted-header {
  background-color: #252525;
  /*background-color: red;*/
}

.column-header {
  text-align: center;
  font-size: 18px;
  border-style: solid;
  border-width: thin;
  border-color: #d4d4d4;
  margin-right: .02em;
  margin-left: .02em;
  color: #ffffff;
  padding-top: .30em;
  padding-bottom: .30em;
}

.task-item {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: .50em;
  margin-top: .50em;
  background-color: #e0e2e4;
  border-style: solid;
  border-width: thin;
  border-color: #d4d4d4;
}

.undo-label-div label{
  color: white;
  background-color: orange;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 14px;
}

.task-item-header {
  padding-left: 5px;
  padding-top: 2.5px;
  margin-bottom: .50em;
  border-style: solid;
  border-width: thin;
  border-color: gray;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #373854;
  color: white;
  font-weight: bold;
}

.task-item-name {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  width: 85%;
}

.overdue-icon {
  color: yellow;
}
.task-item-pic {
  display: inline-block;
  width: 12%;
  vertical-align: top;
  margin-bottom: 1px;
}

.task-item-pic img {
  float: right;
}

.profile-pic-sm {
  height: 20px;
  width: 20px;
}

.task-item-body {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  /*margin: 5px;*/
}

.task-item-top-line {
  font-style: italic;
  font-size: 12px;
  margin-bottom: .50em;
  margin-top: .50em;
}

.overdue-label {
  background-color: yellow; 
  color: black;
  padding-left: 5px;
  padding-right: 5px; } 
 
.task-item-frequency {
  display: inline-block;
  font-size: 12px;
}

.task-item-description {
  font-size: 14px;
  margin-bottom: .50em;
  text-align: justify;
}

.task-item-bottom-line {
  overflow: hidden;
  height: auto;
}

.bottom-label {
  display: inline-block;
  /*border-color: #2e2e2e;*/
 /* padding: .25em;*/
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}

.task-item-icons {
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: #999999;
  padding-top: 2px;
  margin-top: 5px;
}

.status-buttons {
  display: inline-block;
  width: 63%;
  vertical-align: top;
}

.status-buttons label {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

.start-btn:hover, .pause-btn:hover,
.complete-btn:hover, .edit-btn:hover,
.delete-btn:hover, .not-started-btn:hover,
.skip-btn:hover {
  cursor: pointer;
  background-color: #4caf50;
}

.edit-buttons {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.edit-buttons label {
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}

.edit-btn i {
  color: black;
}

.add-task-button {
  text-align: center;
  padding-top: 1em;
}

.undo-completed-task {
  text-decoration: none;
}

.undo-label-div label{
  color: white;
  background-color: orange;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 14px;
}

.undo-completed-task {
  text-decoration: none;
}

.add-task-form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid;
  border-radius: 1em;
}

.add-task-form input, textarea {
  width: 200px;
}

/* for the div around each of 
 * the form sections*/
 .form-block {
  margin-top: 1em;
} 

.form-label {
  display: inline-block;
  width: 150px;
  text-align: left;
}

.dropdown {
  display: inline-block;
}

/* dropdown content. hidden by default */
.new-color-content, .dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
}

.dropdown-input {
  width: 178px;
}

.drop-arrow {
  text-align: right;
}

/* highlight items inside the dropdown*/
.color-option:hover, 
.category-option:hover,
.owner-option:hover,
.created-by-option:hover
{ 
  background-color: #3e8e41;
}

.color-option, .category-option {
  padding: .2em;
}


.grid-container {
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-color: #d9d9d9;
  border-width: thin;
}

.grid-header {
  background-color: #dddddd;
  padding-top: 1em;
  padding-bottom: 1em;
}

.grid-item-left {
  display: inline-block;
  width: 33%;
  vertical-align: middle;
}

.grid-item-middle {
  display: inline-block;
  width: 33%;
  vertical-align: middle;
  text-align: center;
}

.grid-item-right {
  display: inline-block;
  width: 33%;
  padding-right: 1px;
  vertical-align: middle;
  text-align: right;
}

.btn {
  font-size: 14px;
  top: 5em;
  bottom: 5em;
  padding: 6px 12px;
}

.btn, .smallBtn{
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  background-color: #6cc644;
}

.btn-primary {
  background-image: linear-gradient(#91dd70, #55ae2e);
  border: 1px solid #5aad35;
}

.new-category-row {
}

.grid-row {
  border-bottom-style: solid;
  border-bottom-color: #d9d9d9;
  border-width: thin;
}

.grid-item {
  display: block;
  /*width: 60%;*/
  padding-top: 1em;
  padding-bottom: 1em;
}

.new-category-input, .new-user-input {
  font-size: 16px;
  padding: .50em;
  display: inline-block;
}

.category-input {
  font-size: 16px;
  padding: .50em;
}

.new-category-dropdown {
  display: inline-block;
}

.new-category-dropdown,
.new-user-color-dropdown,
.edit-color-dropdown,
.edit-user-color-dropdown{
  border-style: solid;
  border-width: thin;
  border-color: white;
  padding: 5px;
}

.edit-color-dropdown:hover,
.edit-color-label:hover,
.edit-color-name:hover,
.edit-color-dropdown-caret:hover,
.new-category-dropdown:hover,
.new-color-label:hover,
.new-color-name:hover,
.new-color-dropdown-caret:hover {
  cursor: pointer;
}

.edit-color-label, .new-color-label {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
}

.edit-color-content, .new-color-content,
 .dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.edit-color-Name, .new-color-name {
  display: inline-block;
  vertical-align: middle;
}

.edit-color-option:hover, 
.edit-color-swatch:hover,
.edit-color-swatch-name:hover,
.new-color-swatch:hover,
.new-color-swatch-name:hover,
.new-color-option:hover {
  background-color:#5b8e3e;
  cursor: pointer;
}

.swatch {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-width: thin;
  border-color: gray;
}

.category-label {
  font-size: 18px;
  padding: .50em;
  box-shadow: 0 -4px -8px 0 rgba(0,0,0,0.2);
  border-radius: .2em;
  margin-left: .25em;
}

.category-count {
  display: inline-block;
  width: 50%;
}

.edit-section {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 10px;
  text-align: right;
}

.admin-form-block {
  display: inline-block;
}

/* admin page start */
.user-task-count {
  display: inline-block;
  width: 50%;
}

.admin-form-label,.admin-form-input {
  display: block;
}

/* admin page end */